
@font-face {
    font-family: 'Georgia';
    src: url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--color-white: #fff;
	--color-grey: #CDCDCD;
	--color-dark-grey: #545454;
	--color-dark-xl: #4C4C4C;
	--color-primary: #F1CDB3;
	--color-btn-hover: #FDDCC4;
	--color-dark: #292929;
	--color-grey-bg: #F6F6F6; 
	--color-bg-slider: #FAFAFA;
	--color-dark-m: #B2B2B2;

}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}

/* main */
.main {
	flex: 1 1 auto;
}

.main__inner {
	padding: 343px 0 243px 0;
	background: url(../../assets/images/header/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.main__title {
	max-width: 410px;
	margin-bottom: 42px;
	font-family: 'Georgia';
	font-size: 44px;
	line-height: 1.3;
	color: var(--color-grey);
}

.main__subtitle {
	max-width: 460px;
	margin-bottom: 42px;
	font-family: 'Arial';
	font-size: 15px;
	line-height: 1.6;
	color: var(--color-grey);
}

.main__link {
	padding: 15px 45px;

	font-size: 17px;
	line-height: 1.3;
	color: var(--color-dark);

	background-color: var(--color-primary);
	border-radius: 100px;

	transition: ease-in-out background-color .3s;
}

.main__link:hover {
	background-color: var(--color-btn-hover);
}
/* header start*/

.header {
	width: 100%;
	padding-top: 60px;
	position: absolute;
	top: 0%;
	left: 0;
	z-index: 99;
}

.header__inner {
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__item + .menu__item {
	margin-left: 35px;
}

.menu__link {
	font-family: 'Arimo', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: var(--color-white);
	position: relative;
}

.menu__link::after {
	content: '';
	display: block;
	width: 0;
	height: 3px;
	background-color: var(--color-primary);
	
	position: absolute;
	bottom: -7px;
	transition: ease-out .4s width;
}

.menu__link:hover::after,
.menu__link:focus::after {
	width: 100%;
}

.active__link {
	position: relative;
}

.active__link::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--color-primary);
	
	position: absolute;
	bottom: -7px;
	transition: ease-out .4s width;
}

.logo {
	display: flex;
	flex-direction: column;
}

.logo__name {
	margin-bottom: 10px;
	font-family: Georgia;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 1;
	letter-spacing: 0.06em;
	color: var(--color-primary);
}

.logo__title {
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.15;
	letter-spacing: 0.1em;
	color: var(--color-white);
}


/* header end*/

.content {
	padding: 163px 0 243px 0;
}

.content__title {
	font-family: Georgia;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	color: var(--color-white);
}

.content__subtitle {
	max-width: 460px;
	
	line-height: 1.6;
	color: var(--color-grey);
}

.content__btn {
	padding: 15px 45px;
	border-radius: 100px;
	background-color: var(--color-primary);
	font-size: 1.13rem;
	line-height: 1.6;
	letter-spacing: 6%;
	color: var(--color-dark);
}

/* about */

.about {
	padding: 80px 0 100px 0;
}

.about__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__content {
	max-width: 370px;
	margin-left: 120px;
}

.about__title {
	margin-bottom: 35px;
	font-family: Georgia;
	font-weight: normal;
	font-size: 35px;
	line-height: 1.2;
	letter-spacing: 0.6;
	color: var(--color-dark-grey); 
}

.about__text p:first-child {
	margin-bottom: 25px;
}

.about__text {
	width: 430px;
	font-family: Arial;
	font-size: 15px;
	line-height: 1.6;
	color: var(--color-dark-xl);
}

/*  slider  */

.slider {
	background-color: var(--color-grey-bg);
}

.slider__inner {
	padding: 80px 0 100px 0;
	text-align: center;
}

.btn__arrow:hover .arrow__fill {
	fill: var(--color-btn-hover);
}

.slider__items {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider__item {
	background-color: var(--color-bg-slider);
	padding-bottom: 30px;
	transition: ease-in .3s;
}

.slider__item:hover {
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__title {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 60px;

	font-family: Georgia;
	font-weight: normal;
	font-size: 30px;
	line-height: 1.3;
	letter-spacing: 6%;
	color: var(--color-dark-grey);
}

.slider__img {
	margin-bottom: 30px;
	border-radius: 9px;
}

.item__title {
	margin-bottom: 50px;
	font-family: Georgia;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 6%;
	color: var(--color-dark-grey);
}

.item__link {
	margin-bottom: 30px;
	padding: 15px 45px;
	border: 2px solid var(--color-btn-hover);
	border-radius: 100px;
	background-color: none;
	font-family: Georgia;
	font-size: 17px;
	line-height: 1.3;
	letter-spacing: 6%;
	color: var(--color-dark);
	transition: ease-in .3s;
}

.item__link:hover {
	border: 2px solid var(--color-primary);
	background-color: var(--color-primary);
}

.slider__btn {
	padding: 15px 45px;
	background-color: var(--color-primary);
	border-radius: 100px;
	font-family: Georgia;
	font-size: 17px;
	line-height: 1.3;
	letter-spacing: 6%;
	color: var(--color-dark);
	transition: ease-in .3s;
}

.slider__btn:hover {
	background-color: var(--color-btn-hover);
	transition: ease-in .3s;
}

/*help*/

.help {
	padding: 80px 0 100px 0;
	text-align: center;
}

.help__title {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 60px;
	text-align: center;
	font-family: Georgia;
	font-weight: normal;
	font-size: 35px;
	line-height: 1.3;
	letter-spacing: 6%;
	color: var(--color-dark-grey);
}

.help__inner {
	max-width: 1026px;
	margin: 0 auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;  
	gap: 120px;	
}

.help__name {
	margin-top: 30px;
	font-size: 20px;
	line-height: 1.15;
	color: var(--color-dark-grey);
}

/*donate*/
.donate {
	padding: 80px 100px;
	background-color: var(--color-grey-bg);
}

.donate__inner {
	display: flex;
	justify-content: center;
	align-items: center
}

.donate__img {
	margin-right: 30px;
}

.donate__content {
	max-width: 380px;
	margin-left: 30px;
}

.donate__title {
	width: 300px;
	margin-bottom: 20px;
	font-family: Georgia;
	font-weight: normal;
	font-size: 35px;
	line-height: 1.28;
	letter-spacing: 6%;
	color: var(--color-dark-grey);
}

.donate__subtitle {
	margin-bottom: 20px;
	font-family: Georgia;
	font-size: 15px;
	line-height: 1.3;
	letter-spacing: 6%;
	color: var(--color-dark-grey);
}

.donate__btn {
	margin-bottom: 20px;
	padding: 10px 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 9px;
	border: none;
	background-color: var(--color-primary);
	cursor: pointer;
}

.donate__btn span {
	margin-right: 30px;
}

.donate__link {
	font-family: Georgia;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 6%;
	color: var(--color-dark-grey);
}

.donate__text {
	max-width: 380px;
	font-family: Arial;
	font-style: italic;
	font-size: 12px;
	line-height: 1.5;
	color: var(--color-dark-m);
}

.footer {
	background: url(../../assets/images/footer/footer__bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.footer__inner {
	padding: 56px 0 60px 0;
	position: relative;
}

.footer__inner::after {
	content: '';
	width: 300px;
	height: 310px;
	background: url(../../assets/images/footer/footer-puppy.png);
	
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99;
}

.footer__nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer__title {
	max-width: 280px;
	margin-bottom: 40px;

	font-family: Georgia;
	font-weight: normal;
	font-size: 35px;
	font-weight: 400;
	line-height: 1.28;
	letter-spacing: 0.06em;
	color: var(--color-white);
}

.footer__item {
	max-width: 300px;
}

.footer__item span {
	margin-right: 20px;
}

.contact {
	margin-right: 120px;
}

/* footer start */

.footer__link {
	display: flex;
	align-items: center;
	font-family: Georgia;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.06em;
	color: var(--color-primary);
}

.footer__link img {
	margin-right: 20px;
}

.footer__mail {
	margin-bottom: 40px;
}

.footer__pin:first-child {
	margin-bottom: 40px;
}

.link {
	margin-bottom: 40px;
}

/* footer end */